[Unit]
Description=ssh-notifier-daemon

[Service]
ExecStart=/bin/bash /usr/bin/ssh-notifier-daemon
Restart=on-failure

[Install]
WantedBy=multi-user.target
